<app-path></app-path>

<style>
    .center-block {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    
    .link {
        cursor: pointer;
    }
    
    .only-verical-scroller {
        overflow-x: hidden !important;
    }
</style>
<div class="container-fluid mt-3 ">
    <div class="row p-3">

        <h1 class="h3"><i class="fa fa-desktop" area-label="false"></i> Virtual Machine Managerment
            <hr>
        </h1>
    </div>
    <div class="ml-2 ">
        <div class="row ml-5" *ngFor='let row of cardsMetaData'>
            <div class="card-container column p-2" *ngFor='let card of row'>

                <app-card-small [cardDanger]="card.cardDanger" [cardTextClamp]="card.cardTextClamp" [cardRouterLink]="card.cardRouterLink" [cardTitle]="card.cardTitle" [cardText]="card.cardText" [cardHeight]='card.cardHeight' [cardWidth]='card.cardWidth' [cardIconClass]="card.cardIconClass"
                    [badgeIcon]="card.badgeIcon" [cardStackIcon]="card.cardStackIcon" [cardIconColor]="card.cardIconColor" [cardStackIconColor]="card.cardStackIconColor" [callback]="card.callback" [parentObject]="this" [cardPermissions]="card.cardPermissions"></app-card-small>
            </div>
        </div>
    </div>


</div>