<mat-toolbar>
    <button mat-icon-button (click)="onToggleSidenav()">
        <mat-icon class="white-icon">menu</mat-icon>
    </button>
    <a mat-button [routerLink]="['/portal/home/dash']">
        <h1 style="color:white">VM Assignment Portal</h1>
    </a>

    <div fxFlex fxLayout fxLayoutAlign="end">
        <div class="navflex" fxHide.lt-md>


            <!--   <input *ngIf="showGlobalSearch" class="search-field" [(ngModel)]="globarSearchText" (ngModelChange)="setGlobalFilterText($event)" placeholder="What are you looking for ?">-->

            <button mat-button [matMenuTriggerFor]="themeMenu" id="themeDropdown"><mat-icon>
                format_color_fill
            </mat-icon> </button>
            <mat-menu #themeMenu="matMenu" yPosition="below">
                <button mat-menu-item (click)="setTheme('default')"><span><i
                    style="color:#280071" class="fa fa-circle"></i> <b>Default</b> </span></button>
                <button mat-menu-item (click)="setTheme('blue')"><span><i
                        style="color:#3498db;" class="fa fa-circle"></i> <b>Blue Ivy</b> </span></button>
                <button mat-menu-item (click)="setTheme('pink')"><span><i
                        style="color:#e91e63;" class="fa fa-circle"></i> <b>Hot Pink</b> </span></button>
                <button mat-menu-item (click)="setTheme('dark')"><span><i
                      style="color:#37474f"  class="fa fa-circle"></i> <b>Grey</b> </span></button>
            </mat-menu>

            <a [routerLink]="['/portal/home/vmm/dash']" mat-button>VMM</a>
            <a [routerLink]="['/portal/home/chart']" mat-button>Charts</a>
            <a *ngIf="loggedUser.permissions.is_teamLead || loggedUser.permissions.update_user || loggedUser.permissions.create_user || loggedUser.permissions.delete_user" [routerLink]="['/portal/home/user/dash']" mat-button>Users</a>
            <a [routerLink]="['/portal/home/tools/dash']" mat-button>Tools</a>
            <a *ngIf="loggedUser.permissions.is_admin || loggedUser.permissions.is_teamLead" [routerLink]="['/portal/home/admin/dash']" mat-button>Administration</a>
            <button mat-button [matMenuTriggerFor]="belowMenu" id="userDropdown"><i
                class="fa fa-user"></i> {{loggedUser.name | uppercase }}  </button>
            <mat-menu #belowMenu="matMenu" yPosition="below">
                <button mat-menu-item (click)="openDialog()"><span><i
                    class="fa fa-lock"></i> Change Password</span></button>
                <button mat-menu-item (click)="signOut()"><span><i
                    class="fa fa-sign-out"></i> Sign Out </span></button>
            </mat-menu>


        </div>
    </div>
</mat-toolbar>