<app-path></app-path>

<div class="container-fluid-lg p-3 my-3 text-muted  ">
    <div class="row">
        <div class="col-xs-6 ">

            <h1 class="ml-3">

                <i class="fa fa-desktop" area-label="false"></i>{{title}}
                <hr>
            </h1>
        </div>
    </div>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="row  ml-4">
            <div class="col-lg-12">
                <div class="row p-3 ">
                    <div class="col-sm-6">
                        <div class="form-group required">
                            <label for="description">Description:</label>
                            <input [readonly]="editMode" id="description" type="text" class="form-control" formControlName="description" [ngClass]="{ 'is-invalid': submitted && f.description.errors }">
                            <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
                                <div class="ml-1" *ngIf="f.description.errors.required">description is required</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group ">
                            <label for="keywords">Keywords:</label>
                            <input id="keywords" type="text" class="form-control" formControlName="keywords" [ngClass]="{ 'is-invalid': submitted && f.keywords.errors }">
                            <div *ngIf="submitted && f.keywords.errors" class="invalid-feedback">
                                <div class="ml-1" *ngIf="f.keywords.errors.required">keywordsname is required</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row p-3 ">


                    <div class="col-sm-6">
                        <div class="form-group ">
                            <label for="is_global">Is a global technote?</label>
                            <select id="is_global" class="form-control" formControlName="is_global" [ngClass]="{ 'is-invalid': submitted && f.is_global.errors }">
                                <option *ngFor="let item of isGlobalValueList">{{item}}</option>
                            </select>
                            <div *ngIf="submitted && f.is_global.errors" class="invalid-feedback">
                                <div class="ml-1" *ngIf="f.is_global.errors.required">Is a global technote? is required</div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="loggedUser.permissions.is_admin" class="col-sm-6">

                        <div class="form-group required">
                            <label for="team">Team:</label>
                            <!-- <ngx-select [allowClear]="true" [items]="teams" [optionValueField]="'team_name'" [optionTextField]="'team_desc'" placeholder="Select Team" [formControl]="ngxteam" formControlName="ngxteam" [ngClass]="{ 'is-ngx-invalid is-invalid': submitted && f.ngxteam.errors }"
                                ngDefaultControl>
                            </ngx-select>-->
                            <ng-select [items]="teams" bindLabel="team_desc" placeholder="Select Team" bindValue="team_name" [formControl]="ngxteam" formControlName="ngxteam" [ngClass]="{ 'is-ngx-invalid is-invalid': submitted && f.ngxteam.errors }" ngDefaultControl>
                            </ng-select>
                            <div *ngIf="submitted && f.ngxteam.errors" class="invalid-feedback">

                                <div class="ml-1" *ngIf="f.ngxteam.errors.required">Team is required</div>
                            </div>



                        </div>
                    </div>

                </div>
                <div class="row p-3 ">

                    <div class="form-group required">
                        <label for="technote">Technote:</label>
                        <div *ngIf="submitted && f.technote.errors">
                            <div class="ml-1" *ngIf="f.technote.errors.required" [ngClass]="{ 'is-richtext-invalid is-invalid': submitted && f.technote.errors.required }">Technote is required</div>
                        </div>
                        <quill-editor [styles]="{height: '200px'}" name="technote" id="technote" formControlName="technote" [ngClass]="{ 'is-richtext-invalid is-invalid': submitted && f.technote.errors }" ngDefaultControl></quill-editor>

                    </div>


                </div>
            </div>


        </div>


        <div class="row ">
            <div class="col-lg-12 ">
                <button type="submit" class="btn float-sm-right text-capitalize btn-primary" disabled>Submit</button>
            </div>
        </div>
    </form>

</div>