<app-path></app-path>

<div class="container-fluid-lg p-3 my-3 text-muted  ">
    <div class="row">
        <div class="col-xs-6 ">

            <h1 class="ml-3">

                <i class="fa fa-user" area-label="false"></i> Create User
                <hr>
            </h1>
        </div>
    </div>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="row  ml-4">
            <div class="col-lg-12">
                <div class="row p-3 ">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="name">Full Name:</label>
                            <input id="name" type="text" class="form-control" formControlName="full_name" [ngClass]="{ 'is-invalid': submitted && f.full_name.errors }">
                            <div *ngIf="submitted && f.full_name.errors" class="invalid-feedback">
                                <div class="ml-1" *ngIf="f.full_name.errors.required">Full name is required</div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row p-3 ">
                    <div class="col-sm-6 ">
                        <div class="form-group">
                            <div class="form-group">
                                <label for="userid">Username:</label>
                                <input id="userid" type="text" class="form-control" formControlName="user_name" [ngClass]="{ 'is-invalid': submitted && f.user_name.errors }">
                                <div *ngIf="submitted && f.user_name.errors" class="invalid-feedback">
                                    <div class="ml-1" *ngIf="f.user_name.errors.required">Username is required</div>

                                </div>

                            </div>
                        </div>
                    </div>

                </div>
                <div class="row p-3 ">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="team">Team:</label>
                            <select id="team" type="select" class="form-control" formControlName="user_team" [ngClass]="{ 'is-invalid': submitted && f.user_team.errors }">
                            <option> Team 1 </option>
                            <option> Team 2 </option>    
                        </select>
                            <div *ngIf="submitted && f.user_team.errors" class="invalid-feedback">
                                <div class="ml-1" *ngIf="f.user_team.errors.required">Team is required</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row p-3 ">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="password">Password:</label>
                            <input id="password" type="password" class="form-control" formControlName="user_pass" [ngClass]="{ 'is-invalid': submitted && f.user_pass.errors }">
                            <div *ngIf="submitted && f.user_pass.errors" class="invalid-feedback">
                                <div class="ml-1" *ngIf="f.user_pass.errors.required">Passwod is required</div>
                                <div class="ml-1" *ngIf="f.user_pass.errors.minlength">Password must be at least 6 characters</div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row p-3 ">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="conf_password">Confirm Password:</label>
                            <input id="conf_password" type="password" class="form-control" formControlName="conf_pass" [ngClass]="{ 'is-invalid': submitted && f.conf_pass.errors }">
                            <div *ngIf="submitted && f.conf_pass.errors" class="invalid-feedback">
                                <div class="ml-1" *ngIf="f.conf_pass.errors.required">Confirm Passwod is required</div>
                                <div class="ml-1" *ngIf="f.conf_pass.errors.mustMatch">Passwords must match</div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>


        </div>
        <div class="row ">
            <div class="col-sm-6 mr-0 pr-0">
                <button type="submit" class="btn  float-sm-right text-capitalize btn-primary">Submit</button>
            </div>
        </div>
    </form>
</div>