.dataTable th {
    background: #fff;
    text-align: center;
    border: 1px solid #ccc;
}

.dataTable tr {
    background: #fff;
    text-align: center;
    border: 1px solid #ccc;
    vertical-align: inherit;
}

.dataTable tr td {
    border: 1px solid #ccc;
    vertical-align: inherit;
}

.fa-user {
    color: #0070ad;
}

.dataTable>tbody>tr>th {
    vertical-align: inherit;
}

.fa-check-circle {
    color: #5cb85c;
}

.fa-times-circle {
    color: #f90000;
}