$primary-text-color: #fff;
$primary-text-color-hover: #fff;
.white-icon {
    color: $primary-text-color;
}

.btn-primary:hover {
    text-decoration: none !important;
}

.navflex a:hover {
    color: primary-text-color-hover !important;
    text-decoration: none !important;
}

.navflex:hover {
    color: primary-text-color-hover !important;
    text-decoration: none !important;
}

.flexnava h1:hover {
    color: $primary-text-color-hover !important;
    text-decoration: none !important;
}

.flexnava span h1:hover {
    color: $primary-text-color-hover !important;
    text-decoration: none !important;
}

.navflex a {
    color: $primary-text-color !important;
    text-decoration: none !important;
}

.navflex {
    color: $primary-text-color !important;
    text-decoration: none !important;
}

.flexnava h1 {
    color: $primary-text-color !important;
    text-decoration: none !important;
}

.mat-button-wrapper h1:hover {
    color: $primary-text-color !important;
    text-decoration: none !important;
}

.mat-toolbar .mat-button:hover {
    color: $primary-text-color !important;
    text-decoration: none !important;
}

.search-form {
    width: 100px;
    display: block;
    font-size: 18px;
    font-weight: 200;
}

.search-field {
    font-size: 12px;
    width: 200px;
}
::ng-deep .mat-menu-content {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  }
  
  .mat-menu-item{
    line-height:35px;
    height:35px;
  }