<h1 mat-dialog-title class="dialog-title">
    <span>
         {{data.title}}
         <button  type="button" class="close" style="background: white;
    padding-right: 10px;"  aria-label="Close" mat-dialog-close>
        <span style="font-size:30px;" aria-hidden="true">&times;</span>
    </button>
    </span>
</h1>
<mat-dialog-content class="alertMssg ml-2">
    <br> {{data.label}}
    <label *ngIf="norecordFound" class="label label-default" style="color:#3e3b3b;background-color:#f5f5f5;">
        No Additional Information found;  
        <span (click)="toggleNoRecordScreen()">
            <a style="cursor:pointer;color: rgb(94, 129, 182);font-weight: bold;">'click here'</a> </span> 
            to add.</label>
    <form *ngIf="dataLoaded && !norecordFound && editMode" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="row p-3  " *ngFor="let item of data.list;let i = index">
            <label [matTooltip]="'Delete field!'" (click)="deleteField(i)" class="label btn btn-danger "><i class="fa fa-trash fa-2" aria-hidden="true"></i></label>
            <div class="col ">
                <div class="form-group required">

                    <label for="field_{{i}}">Field name: {{getFormCotrolData('field_'+i)}}</label>
                    <input maxlength="31" id="field_{{i}}" class="form-control" formControlName="field_{{i}}" [ngClass]="{ 'is-invalid': submitted && checkIsInvalid('field_'+i) }">
                    <div *ngIf="submitted && checkIsInvalid('field_'+i)" class="invalid-feedback">
                        <div class="ml-1" *ngIf="checkIsInvalidRequired('field_'+i)">Field is required</div>
                        <div class="ml-1" *ngIf="checkIsInvalidLength('field_'+i)">Maximum lengh exceeded.</div>
                    </div>

                </div>
            </div>
            <div class="col ">
                <div class="form-group required">

                    <label for="field_{{i}}_value">Value for field {{getFormCotrolData('field_'+i)}} </label>
                    <input id="field_{{i}}_value" class="form-control" formControlName="field_{{i}}_value" [ngClass]="{ 'is-invalid': submitted && checkIsInvalid('field_'+i+'_value') }">
                    <div *ngIf="submitted && checkIsInvalid('field_'+i+'_value')" class="invalid-feedback">
                        <div class="ml-1" *ngIf="checkIsInvalidRequired('field_'+i+'_value')">{{item.name}} is required</div>
                    </div>

                </div>
            </div>
        </div>
        <div class="row p-3">
            <div class="col">
                <label [matTooltip]="'Add sshUsername and sshPassword field to set default ssh user and pass for this machine!'" (click)="toggleTooltip()" class="label btn btn-primary"><i class="fa fa-info-circle fa-2" aria-hidden="true"></i></label>
                <label [matTooltip]="'Add a new field!'" (click)="addField()" class="label btn btn-primary"><i class="fa fa-plus fa-2" aria-hidden="true"></i></label>
            </div>
        </div>
        <div class="row ">
            <div class="col float-end">

                <button type="submit" mat-button class="float-end">Ok</button>
                <button mat-button mat-dialog-close class="float-end">Cancel</button>

            </div>
        </div>
    </form>
    <form class="adtnal-data-view" *ngIf="dataLoaded && !norecordFound && !editMode" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="row p-3 ">
            <div class="col ">
                <div *ngFor="let item of data.list" class="form-group required">

                    <label for="{{item.name}}">{{item.name}}</label>
                    <input id="{{item.name}}" class="form-control" formControlName="{{item.name}}" [ngClass]="{ 'is-invalid': submitted && checkIsInvalid(item.name) }">
                    <div *ngIf="submitted && checkIsInvalid(item.name)" class="invalid-feedback">
                        <div class="ml-1" *ngIf="checkIsInvalidRequired(item.name)">Field is required</div>
                    </div>

                </div>
            </div>
        </div>

        <div class="row ">
            <div class="col float-end">


                <button mat-button mat-dialog-close class="float-end">Close</button>
                <button type="button" mat-button class="float-end" (click)="toggleToUpdateScreen()">Update</button>
                <button type="submit" style="display:none"></button>

            </div>
        </div>
    </form>
</mat-dialog-content>