<h1 mat-dialog-title class="dialog-title">
    <span>
        <i *ngIf="data.titleIcon" class="titleicon {{data.iconClass}}" ></i>
         {{data.title}}
       
         <i mat-dialog-close aria-label="Close" style="background: white; padding-right: 10px;" class="btn fa fa-times float-end"></i>
    </span>
</h1>
<mat-dialog-content class="alertMssg ms-2" >
    <br> {{data.label}}
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="row p-3 ">
            <div class="col ">
                <div class="form-group required" [style]="{height:  formGroupheight}">

                    <input *ngIf="!loggedUser.enableRichTextForVMComment" id="dataCtrl"  formControlName="dataCtrl">
                    <quill-editor *ngIf="loggedUser.enableRichTextForVMComment" id="dataCtrl" [styles]="{height: '150px'}"   formControlName="dataCtrl" ngDefaultControl></quill-editor>
                </div>
            </div>
        </div>
        <div class="row ">
            <div class="col float-end">

                <button type="submit" mat-button class="float-end">Ok</button>
                <button type="button" mat-button (click)="onClose()" class="float-end">Cancel</button>

            </div>
        </div>
    </form>
</mat-dialog-content>