<h1 mat-dialog-title class="dialog-title">
    <span>
        <i *ngIf="data.titleIcon" class="titleicon {{data.iconClass}}" ></i>
         {{data.title}}
       
         <button  type="button" class="close" style="background: white;
    padding-right: 10px;"  aria-label="Close" (click)="onClose()">
        <span style="font-size:30px;" aria-hidden="true">&times;</span>
    </button>
    </span>
</h1>
<mat-dialog-content class="alertMssg ml-2">
    <br> {{data.label}}
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="row p-3 ">
            <div class="col ">
                <div class="form-group required">

                    <ng-select *ngIf="!data.isText" [items]="data.list" bindLabel="{{data.bindLabel}}" placeholder="{{data.placeholder}}" [formControl]="dataCtrl" formControlName="dataCtrl" [ngClass]="{ 'is-ngx-invalid is-invalid': submitted && f.dataCtrl.errors }" ngDefaultControl>
                    </ng-select>
                    <input *ngIf="data.isText" id="dataCtrl" class="form-control" formControlName="dataCtrl" [ngClass]="{ 'is-invalid': submitted && f.dataCtrl.errors }">
                    <div *ngIf="submitted && f.dataCtrl.errors" class="invalid-feedback">
                        <div class="ml-1" *ngIf="f.dataCtrl.errors.required">Field is required</div>
                    </div>

                </div>
            </div>
        </div>
        <div class="row ">
            <div class="col float-end">

                <button type="submit" mat-button class="float-end">Ok</button>
                <button type="button" mat-button (click)="onClose()" class="float-end">Cancel</button>

            </div>
        </div>
    </form>
</mat-dialog-content>