.snapDialog {
    padding: 20px;
    margin: 30px;
}

.titleBar {
    float: right;
    margin-top: 3px;
    width: 100%;
    text-align: end;
    background: #a5a5a5;
    padding-right: 3px;
}

.dialog-title {
    float: left;
    font-family: "SourceSansPro", Helvetica, Arial, sans-serif;
    margin: 0;
    margin-top: 5px;
    vertical-align: middle;
    border-bottom: 2px #0070ad solid;
    width: 100%;
    font-size: 18px;
    color: black;
}

.titleicon {
    margin-left: 5px;
}

.alertMssg {
    color: #000;
    font-size: 13px;
    width: 100%;
    margin-top: 20px;
    height: 80%;
}

.ngx-select__choices {
    z-index: 9999;
}

::ng-deep .app-dialog-class {
    mat-dialog-container {
        padding-top: 10px !important;
        padding-left: 10px !important;
        padding-right: 10px !important;
        overflow: hidden;
    }
}

.float-end {
    float: inline-end !important;
    /*fallback for chrome*/
    float: right !important;
}