<h1 mat-dialog-title class="dialog-title">
    <span>
        Required Fields
         <i mat-dialog-close aria-label="Close" style="background: white; padding-right: 10px;" class="btn fa fa-times float-end"></i>
    </span>
</h1>
<mat-dialog-content class="alertMssg ms-2">
    <br>
    <!--<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="row p-3 ">
            <div class="col ">
                <div *ngFor="let item of data.list" class="form-group required">

                    <label for="{{item.field_name}}">{{item.label}}</label>
                    <input id="{{item.field_name}}" class="form-control" formControlName="{{item.field_name}}" [ngClass]="{ 'is-invalid': submitted && checkIsInvalid(item.field_name) }">
                    <div *ngIf="submitted && checkIsInvalid(item.field_name)" class="invalid-feedback">
                        <div class="ms-1" *ngIf="checkIsInvalidRequired(item.field_name)">Field is required</div>
                    </div>

                </div>
            </div>
        </div>
        <div class="row ">
            <div class="col float-end">

                <button type="submit" mat-button class="float-end">Ok</button>
                <button mat-button mat-dialog-close class="float-end">Cancel</button>

            </div>
        </div>
    </form>-->
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="row g-3">
  <div class="col">
    <div class="row">
      <div class="col-md-6" *ngFor="let item of data.list">
        <div class="form-group required">
          <label for="{{ item.field_name }}">{{ item.label }}</label>
          <input id="{{ item.field_name }}" class="form-control" formControlName="{{ item.field_name }}"
            [ngClass]="{ 'is-invalid': submitted && checkIsInvalid(item.field_name) }">
          <div *ngIf="submitted && checkIsInvalid(item.field_name)" class="invalid-feedback">
            <div class="ms-1" *ngIf="checkIsInvalidRequired(item.field_name)">Field is required</div>
          </div>
        </div>
      </div>
    </div>
    <div class="row ">
            <div class="col float-end">

                <button type="submit" mat-button class="float-end">Ok</button>
                <button mat-button mat-dialog-close class="float-end">Cancel</button>

            </div>
        </div>
  </div>
</form>

</mat-dialog-content>