<h1 mat-dialog-title class="dialog-title">
    <span>
        <i *ngIf="data.titleIcon" class="titleicon {{data.iconClass}}" ></i>
         {{data.title}}
       
         <i mat-dialog-close aria-label="Close" style="background: white; padding-right: 10px;" class="btn fa fa-times float-end"></i>
    </span>
</h1>
<mat-dialog-content class="alertMssg ms-2">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="row p-3 ">
            <div class="col ">
                <div class="form-group required">
                    <label for="snapName">Snapshot Name:</label>
                    <input name="snapName" id="snapName" class="form-control" formControlName="snapName" [ngClass]="{ 'is-invalid': submitted && f.snapName.errors }">
                    <div *ngIf="submitted && f.snapName.errors" class="invalid-feedback">
                        <div class="ms-1" *ngIf="f.snapName.errors.required">Field is required</div>
                    </div>

                </div>
            </div>
            <div class="col ">
                <div class="form-group ">
                    <label for="snapDesc">Snapshot Description:</label>
                    <input  name="snapDesc" id="snapDesc" class="form-control" formControlName="snapDesc" [ngClass]="{ 'is-invalid': submitted && f.snapDesc.errors }">
                    <div *ngIf="submitted && f.snapDesc.errors" class="invalid-feedback">
                        <div class="ms-1" *ngIf="f.snapDesc.errors.required">Field is required</div>
                    </div>

                </div>
            </div>
        </div>
        <div class="row ">
            <div class="col float-end">

                <button type="submit" mat-button class="float-end">Ok</button>
                <button type="button" mat-button (click)="onClose()" class="float-end">Cancel</button>

            </div>
        </div>
    </form>
</mat-dialog-content>