/* You can add global styles to this file, and also import other style files */


/* Importing Bootstrap SCSS file. */

@import "~bootstrap/scss/bootstrap";
@import "~material-icons-font/sass/variables";
@import "~material-icons-font/sass/mixins";
$MaterialIcons_FontPath: "~material-icons-font/fonts";
@import "~material-icons-font/sass/main";
@import "~material-icons-font/sass/Regular";
@import "~@ng-select/ng-select/themes/default.theme.css";
@import "variable";
//$primary-color: #007bff  0070ad 00ad9e;
//$primary-color: #5101ac;
//$primary-btn-hover-color: #612aa0;
.text-primary {
    color: $primary-color !important;
}

.mat-toolbar {
    background-color: $primary-color !important;
    height: 50px;
    position: relative;
    box-shadow: 0px 0px 15px #656363;
    z-index: 5;
}

.carousel-indicators {
    li {
        visibility: visible;
        box-sizing: content-box;
        flex: 0 1 auto;
        width: 30px;
        height: 3px;
        border-radius: 20px;
        margin-right: 3px;
        margin-left: 3px;
        text-indent: -999px;
        cursor: pointer;
        background-color: $primary-color !important;
        background-clip: padding-box;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        opacity: 0.5;
        transition: opacity 0.6s ease;
    }
}

.btn-portal {
    background-color: $primary-color !important;
}

.btn-portal:hover {
    background-color: $primary-btn-hover-color !important;
}

.btn-primary {
    background-color: $primary-color !important;
    border-color: $primary-color !important;
}

.btn-primary:hover {
    background-color: $primary-btn-hover-color !important;
    border-color: $primary-btn-hover-color !important;
}

html,
body {
    min-height: 100% !important;
    height: auto;
    margin: 0;
}

.alertSnapshot {
    color: #dc3545 !important;
    //background-color: #f8d7da !important;
    //border-color: #fafafa !important;
    // background-color: #dc3545 !important;
}

.warnSnapshot {
    color: #a28a0b !important;
    // background-color: #fff3cd !important;
    // border-color: #ffeeba !important;
    // background-color: #ffc107 !important;
}

.gridRow {
    text-align: center !important;
}

.slick-header-column {
    display: grid !important;
    text-align: center !important;
}

.login-navbar {
    padding: 0;
    padding-left: 20px;
    background-color: $primary-color;
}

#notfound .notfound {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    .notfound-404 {
        position: relative;
        height: 200px;
        margin: 0 auto 20px;
        z-index: -1;
        width: 500px;
        h1 {
            font-family: montserrat, sans-serif;
            font-size: 236px;
            font-weight: 200;
            margin: 0;
            color: #211b19;
            text-transform: uppercase;
            position: absolute;
            left: 50%;
            top: 50%;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }
        h2 {
            font-family: montserrat, sans-serif;
            font-size: 28px;
            font-weight: 400;
            text-transform: uppercase;
            color: #211b19;
            background: #fff;
            padding: 10px 5px;
            margin: auto;
            display: inline-block;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
        }
    }
    a {
        font-family: montserrat, sans-serif;
        display: inline-block;
        font-weight: 700;
        text-decoration: none;
        color: #fff;
        text-transform: uppercase;
        padding: 13px 23px;
        background-color: $primary-color;
        font-size: 18px;
        -webkit-transition: 0.2s all;
        transition: 0.2s all;
    }
}

.hidden {
    display: none !important;
    width: 0px !important;
}

.hiddenWidth {
    display: none !important;
    width: 0px !important;
}

input[data-columnid="global"] {
    display: none !important;
    width: 0px !important;
}

div:has(input[data-columnid="global"]) {
    display: none !important;
    width: 0px !important;
}

.chart-header {
    text-decoration: underline;
    text-decoration-color: $primary-color;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.app-side-nav {
    width: 200px !important;
}

.bg-portal-primary {
    background-color: $primary-color;
}

.portal-box-shadow {
    box-shadow: 0 0.125rem 0.5em rgb(0 0 0 / 69%) !important;
}

.card-top {
    border-top: 2px solid $primary-color !important;
}

.is-ngx-invalid div {
    border-color: #dc3545 !important;
}

.is-ngx-invalid div input:focus {
    border-color: #dc3545 !important;
    box-shadow: 0 0 0 0.2rem rgb(220 53 69 / 25%) !important;
}

.form-group.required label:before {
    content: "*";
    color: red;
}

.spinner {
    display: block;
    position: fixed;
    background-color: #fff;
    z-index: 1031;
    top: 40%;
    left: 50%;
    padding: 10px;
    border-radius: 10px;
    height: 120px;
    width: 120px;
}

.mat-progress-spinner circle,
.mat-spinner circle {
    stroke: $primary-color;
}

.modal-backdrop {
    opacity: 0.5 !important;
}

.spinner-modal {
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.card-icon-color {
    color: $primary-color
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.app-scroller::-webkit-scrollbar {
    width: 4px;
    overflow-y: scroll;
    background: grey;
    box-shadow: inset 0 0 4px #707070;
}

.app-scroller::-webkit-scrollbar-thumb {
    background: $primary-color;
    border-radius: 10px;
}