/* You can add global styles to this file, and also import other style files */


/* Importing Bootstrap SCSS file. */

//$slick-primary-color: #5101ac;
//$primary-btn-hover-color: #612aa0;
//$slick-primary-color: #3498db;
$slick-primary-color:#280071;
$primary-btn-hover-color: #5803f5;
$side-nav-color: $slick-primary-color;
$blue-gray: #8972b4;
$blue-gray-darken: #604a8a;
$blue: $slick-primary-color;
$blue-darken: #1b014b;
$green: #7400b8;
$green-darken: #31014d;
$custom-alert-background:#d3d1f1;
$custom-alert-border:#bed8eb;
$slick-row-mouse-hover-color: #e1dcfc;
$slick-row-selected-color: #d2c9fd;