<mat-nav-list class="app-side-nav">
    <a mat-list-item [routerLink]="['/portal/home/dash']" (click)="onSidenavClose()">
        <mat-icon>home</mat-icon> <span class="ml-1">Home</span>
    </a>
    <a mat-list-item [routerLink]="['/portal/home/vmm/dash']" (click)="onSidenavClose()">
        <mat-icon>desktop_windows</mat-icon> <span class="ml-1">VMM</span>
    </a>
    <a mat-list-item [routerLink]="['/portal/home/chart']" (click)="onSidenavClose()">
        <mat-icon>pie_chart</mat-icon> <span class="ml-1">Charts</span>
    </a>
    <a mat-list-item [routerLink]="['/portal/home/user/dash']" (click)="onSidenavClose()">
        <mat-icon>people</mat-icon> <span class="ml-1">Users</span>
    </a>
    <a mat-list-item [routerLink]="['/portal/home/tools/dash']" (click)="onSidenavClose()">
        <mat-icon>build_circle</mat-icon> <span class="ml-1">Tools</span>
    </a>
    <a mat-list-item (click)="onSidenavClose()">
        <mat-icon>close</mat-icon> Close
    </a>
</mat-nav-list>