<h1 mat-dialog-title class="dialog-title">
    <span>
        <i  class="titleicon fa fa-terminal fa-2 " style="color:var(--mui-btn-primary-background-color-hover);"></i>
       
         Console Output 

    <button type="button" class="close" style="background: white;
    padding-right: 10px;" aria-label="Close" mat-dialog-close>
        <span style="font-size:30px;" aria-hidden="true">&times;</span>
    </button>
    </span>
</h1>
<mat-dialog-content class="alertMssg">
    <br *ngIf="!isLoading">
    <mat-spinner *ngIf="isLoading" [diameter]="20"></mat-spinner>
    <textarea #textarea [scrollTop]="textarea.scrollHeight" rows="8" style="width:700px" value="{{output}}"> {{output}}</textarea>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>